* { font-family: sans-serif;}

body {
  color: hsl(0, 0%, 15%);
  line-height: 1.6;
  font-size: 16px;
}

footer {
  clear: both;
  text-align: center;
}

p {
  margin-top: 2em;
  margin-bottom: 2em;
}


.blue-text {
  color: hsl(192, 100%, 40%);
}
.blue-background {
  background-color: hsl(192, 100%, 30%, 0.8);
  padding: 3rem;
  width: 100%;
  padding-left: 15%;
  line-height: 0.1;

}
.light-grey-background {
  background-color: hsl(0, 0%, 90%);
  padding: 2rem;
  width: 100%;
  padding-left: 15%;
}
.dark-grey-background {
  background-color: hsl(0, 0%, 25%);
  padding: 5rem;
  width: 100%;
}

.white-text {
  color: white;
}

.footer-nav {
  color: white;
  font-weight: bold;
}
.top-nav {
  color: hsl(0, 0%, 15%);
  font-weight: bold;
  font-size: 20px;
}
.header {
  font-weight: bold;
  font-size: 60px;
}

.important {
  font-size: 30px;
  line-height: 1;
}

.sub-header {
  font-size: 23px;
}
.aside-column {
  padding-top: 3%;
  padding-right: 8%;
  padding-bottom: 4%;
  float: right;
  width: 20%;
}

.main-column {
  padding-top: 3%;
  padding-left: 15%;
  padding-bottom: 4%;
  float: left;
  width: 50%
}

.content-box {
  width: 10px;

}
